.list{
    padding-inline-start:1rem;
    padding-inline-end: 1.5rem;
}

.list-title{
font: var(--baseFont);
color: var(--gray1);
/* margin-block-start: 0;
margin-block-end: .5rem; */

}

.list-content{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.list-item{
}

.list-item a{
    font: var(--baseFontBold);
    font-weight: bold;
    transition: color .2s;

}