.menu-item{
    /* border: 1px solid green; */
}

.menu-item a{
    /* border: 1px solid red; */
    display: flex; /* es para expandir a lo largo del contenedor */ 
    font: var(--button);
    padding-inline-start: 1.5rem; /* espacio a los lados */ 
    padding-inline-end: 1.5rem;
    /* box-shadow: inset 4px 0 0 var(--primary); */
    block-size: 2.5rem;
    /* line-height: 2.5rem; */
    align-items: center;
    gap: .5rem;
     
}

.menu-item a:hover{
    text-decoration: none;
}
.menu-item [class^="icon-"]{
  
    font-size: 1.5rem;
}
.menu-item.is-active a{
    color: var(--white);
    box-shadow: inset 4px 0 0 var(--primary);
}

/*si esta activado y tien el incon home despues  */
.menu-item.menu-item.is-active .icon-home::before{
    content: "\e90b";
}

.menu-item.menu-item.is-active .icon-search::before{
    content: "\e914";
}

.menu-item.menu-item.is-active .icon-creditCard::before{
    content: "\e907";
}