.playlistB {
    display: flex;
    inline-size: 17.5rem;
    border-radius: .5rem;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    transition: .3s background;
    
}

.playlistB:hover .playlistB:focus-within{
    background: rgba(255, 255, 255, .2);
    
}
.playlistB-details{
    display: flex;
    padding: 1rem;
    gap: .5rem;
    align-items: center;
}

.playlistB-title{
    font: var(--baseFontBold);
    color: var(--white);
    margin: 0;


}

.playlistB:hover .playlistB-control,
.playlistB:focus-within .playlistB-control {
    opacity: 1;
}

/* 
.playlistB-description{
    font: var(--baseFont);
    margin: 0;
} */

.playlistB-control {
    opacity: 0;
    transition: .3s;
}
.playlistB-cover img{
    vertical-align: middle;
    block-size: 100%;
    inline-size: 100%;

}