.slider{
    /* inline-size: 496px; */
    background: rgba(255, 255, 255, .2); /* color blanco con opacidada */
    block-size:.25rem; /* como la altura de la barrita */
    border-radius: .5rem;
}

.slider:hover .slider-progress{
    background:var(--primary);
    transition: .1s;

}

.slider:hover .slider-button{
    display: block; /* para que aparezca el botón */ 
}
.slider-progress{
    inline-size: 216px; /* también se puede usar en porcentaje */ 
    background-color: var(--white);
    block-size: inherit; /* es para ereder lo del padre es slider */ 
    border-radius: inherit;
    position: relative; /* este es el padre */ 


}

.slider-button{
    background:var(--white);
    block-size: 200%; /* sigue dependiendo del padre */ 
    aspect-ratio: 1/1; /* si ya tenemos un alto podemos poner un aspect radio también podemos usar el 100%*/ 
    border-radius: 50%;
    border: 0px;
    padding: 0;
    position: absolute; /* es para que cada vez que movamos slider en este caso el padre se mueva este */
    left: 100%; /* se va al 100% del padre */
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
  
}